

<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>Hi this is Designed Labs.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Designed Labs, Kottawa</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>011 234 5676</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>designedlabs&#64;email.com</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Orders and Returns</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="#">Careers</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
            </ul>

          </div>
        </div>
      </div>
      <!-- /row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="copyright">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
							</span>
        </div>
      </div>
    </div>
  </div>
</footer>


<!--<h1>Integrate Google Maps in Angular - Tutsmake.com</h1>-->

<!--<google-map height="450px"-->
<!--            width="1000px"-->
<!--            [center]="center"-->
<!--            [zoom]="zoom"-->
<!--            (mapClick)="moveMap($event)"-->
<!--            (mapMousemove)="move($event)">-->
<!--</google-map>-->

<!--<div>Latitude: {{display?.lat}}</div>-->
<!--<div>Longitude: {{display?.lng}}</div>-->
