<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          <i class="fa fa-home"></i> Home Site
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports">
          <i class="fa fa-bar-chart"></i> Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">
          <i class="fa fa-cube"></i> Stock Management
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/complaints">
          <i class="fa fa-exclamation-circle"></i> Complaints & Feedbacks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders">
          <i class="fa fa-warning"></i> Pending Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/order-history">
          <i class="fa fa-history"></i> Order History
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/category">
          <i class="fa fa-plus-circle"></i> Add Category
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-management">
          <i class="fa fa-user"></i> User Management
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings">
          <i class="fa fa-gear"></i> Settings
        </a>
      </li>
    </ul>
  </div>
</nav>
