
<!-- MAIN HEADER -->
<div id="header">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- LOGO -->
      <div class="col-md-3">
        <div class="header-logo">
          <a routerLink="/home" class="logo">
            <h4>logo is here</h4>
            <!--              <img src="../../../assets/img/logo.png" alt="">-->
          </a>
        </div>
      </div>
      <!-- /LOGO -->

      <!-- SEARCH BAR -->
      <div class="col-md-6">
        <div class="header-search">
          <form>
            <input class="input" placeholder="Search here">
            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <!-- /SEARCH BAR -->

      <!-- ACCOUNT -->
      <div class="col-md-3 clearfix">
        <div class="header-ctn">
          <!-- Wishlist -->
          <div>
            <a href="#">
              <i class="fa fa-heart-o"></i>
              <span>Wishlist</span>
              <div class="qty">0</div>
            </a>
          </div>
          <!-- /Wishlist -->


          <!-- Cart -->
          <div class="dropdown" >
            <a  href="/cart"  aria-expanded="true" style="cursor: pointer;">
              <i class="fa fa-shopping-cart"></i>
              <span>Your Cart</span>
              <div class="qty">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</div>
            </a>
            <div class="cart-dropdown" >
              <div class="cart-list" *ngIf="cartData.data[0].numInCart !== 0">
                <div class="product-widget" *ngFor="let c of cartData.data; let i=index">
                  <div class="product-img">
                    <img src="{{c.product.imageUrl}}" alt="" width="20px">
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">{{c.product.name}}</a></h3>
                    <span>{{c.numInCart}} x </span>{{c.product.price | currency:'USD'}}
                  </div>
                  <button class="delete" (click)="cartService.DeleteProductFromCart(i)"><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="cart-summary">
                <small>{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}} Item(s) selected</small>
                <h5>TOTAL : {{cartTotal | currency:'USD'}}</h5>
              </div>
              <div class="cart-btns">
                <a routerLink="/cart">View Cart</a>
                <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /Cart -->

<!--          &lt;!&ndash; Menu Toggle &ndash;&gt;-->
<!--          <div class="menu-togle">-->
<!--            <a href="#">-->
<!--              <i class="fa fa-bars"></i>-->
<!--              <span>Menu</span>-->
<!--            </a>-->
<!--          </div>-->
<!--          &lt;!&ndash; /Menu Toggle &ndash;&gt;-->
        </div>
      </div>
      <!-- /ACCOUNT -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- /MAIN HEADER -->


<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/all-products">New Arrivals</a></li>
        <li><a href="#">Hot Sale</a></li>
        <li><a href="#">Contact Us</a></li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
