/* Style quantity buttons */
.value-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
}

/* Style quantity buttons icons */
.value-button i {
  line-height: 30px;
}

/* Center text in the empty cart message */
.text-center {
  text-align: center;
}

/* Add space below the footer */
.container {
  margin-bottom: 100px; /* Adjust as needed */
}
