/* settings.component.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-md-6 {
  width: 48%;
}

/* Style buttons */
button {
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c3d100;
  color: #fff;
}

/* Angular Material Button Overrides */
.mat-raised-button {
  margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
  }
}

button {
  font-size: 18px; /* Adjust the font size as needed */
}
